.sectionChamado{
    
    margin: 0 auto;
    height: 100%;
    width: 100%;
   color: rgb(165, 16, 165);
   background-color:rgb(42, 42, 42);

    border:2px solid black;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.divChamado{
    width: 100%;
    font-size: 25px;
    font-size:25px;
    text-align: center;
    vertical-align: middle;  
}
b{ 
    color: black;
}

p{ 
    font-size: 20px;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  