<div class="sectionLogin">
    <div class="divLogin">
        <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width:100px">Email</label>
            <div class="p-col">
                <input id="email" type="text" pInputText [(ngModel)]="email"> 
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="senha" class="p-col-fixed" style="width:100px">Senha</label>
            <div class="p-col">
                <input id="senha" type="password" pInputText [(ngModel)]="senha" > 
            </div>
        </div>
        <br>
        <button pButton type="button" label="LOGAR" (click)="validaLogin()"></button> 
        <button pButton routerlink="component2" type="button" label="CADASTRO"></button><br><br>
    </div>
</div>