<!-- <div class="sectionLogin">
    <div class="divLogin">
        <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width:100px">Email</label>
            <div class="p-col">
                <input id="email" type="text" pInputText [(ngModel)]="email"> 
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="senha" class="p-col-fixed" style="width:100px">Senha</label>
            <div class="p-col">
                <input id="senha" type="password" pInputText [(ngModel)]="senha" > 
            </div>
        </div>
        <br>
        <button pButton type="button" label="LOGAR" (click)="validaLogin()"></button> 
        <button pButton  type="button" label="Cadastro" routerLink="/Cadastro"></button><br><br>
  </div>
</div> -->

<div class="sectionLogin">
    <div class="divLogin ">
        <form class="example-form example">
           <mat-form-field class="example">
                <mat-label>E-mail</mat-label>
                <input  matInput pInputText [(ngModel)]="usuario" name="usuario" >
            </mat-form-field>

            <mat-form-field class="example">
                <mat-label>Senha</mat-label>
                <input type="password" matInput pInputText [(ngModel)]="senha" name="senha">
            </mat-form-field>
        </form>
    <div class="example-label">
        <button pButton mat-raised-button type="button" label="Entrar" class="example-label mat-elevation-z4" (click)="validaLogin()"></button> 
        <button pButton mat-raised-button  type="button" label="Cadastro" class="example-label mat-elevation-z4" routerLink="/Cadastro"></button>
    </div>
    </div>
</div>
