<!-- <div class="sectionCadastro">
    <div class="divCadastro">
        <div class="p-field p-grid">
            <label for="usuario" class="p-col-fixed" style="width:100px">Nome</label>
            <div class="p-col">
                <input id="usuario" type="text" pInputText [(ngModel)]="usuario"> 
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width:100px">Login</label>
            <div class="p-col">
                <input id="email" type="text" pInputText [(ngModel)]="email"> 
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="senha" class="p-col-fixed" style="width:100px">Senha</label>
            <div class="p-col">
                <input id="senha" type="password" pInputText [(ngModel)]="senha"> 
            </div>
        </div>

        <br>
        
       
       
    </div>
</div>
 -->
<div class="sectionCadastro">
    <div class="divCadastro ">
        <h2>Cadastre-se</h2>
        <form class="example-form example">
            <mat-form-field class="example">
                <mat-label for="usuario">Nome</mat-label>
                <input pInputText id="usario" type="text" matInput  [(ngModel)]="usuario" name="usuario">
            </mat-form-field>

            <mat-form-field class="example">
                <mat-label for="email">E-mail</mat-label>
                <input pInputText id="email" type="text" matInput   [(ngModel)]="email" name="email" >
            </mat-form-field>

            <mat-form-field class="example">
                <mat-label for="senha">Senha</mat-label>
                <input pInputText id="senha" type="password" matInput   [(ngModel)]="senha" name="senha">
            </mat-form-field>
        </form> 
        <button pButton mat-raised-button type="button" label="CADASTRAR" (click)="adicionaUsuario()" class="mat-elevation-z4"></button>
    </div>
</div>
