<div class="sectionCadastro">
    <div class="divCadastro">
        <div class="p-field p-grid">
            <label for="usuario" class="p-col-fixed" style="width:100px">Nome</label>
            <div class="p-col">
                <input id="usuario" type="text" pInputText [(ngModel)]="usuario"> 
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="email" class="p-col-fixed" style="width:100px">Login</label>
            <div class="p-col">
                <input id="email" type="text" pInputText [(ngModel)]="email"> 
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="senha" class="p-col-fixed" style="width:100px">Senha</label>
            <div class="p-col">
                <input id="senha" type="password" pInputText [(ngModel)]="senha"> 
            </div>
        </div>

        <br>
        <button pButton type="button" label="CADASTRAR" (click)="adicionaUsuario()"></button>
       
    </div>
</div>